*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #EEF9BF;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 312px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 36px;
    line-height: 42px;
    color: #75B79E;
    margin-top: 40px;
    text-align: center;
}

.game{
    display: flex;
    justify-content: center;
    width: 335px;
    margin: 0px auto;
    position: relative;
}

.contador{
    position: absolute;
    top: -15px;
    right: 50px;
    color: #E10601;
    font-weight: bold;
    font-size: 36px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
}

.card div{
    width: 117px;
    height: 146px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card .front{
    transform: rotateY(180deg);
}

.selecionada .front, .correta .front{
    transform: rotateY(0deg);
}

.selecionada .back, .correta .back{
    transform: rotateY(180deg);
}

.card img{
    width: 100px;
}

@media screen and (min-width: 414px){
    header{
        width: 100%;
    }

    h1{
        font-size: 56px;
        line-height: 66px;
    }

    .game{
        width: 100%;
        max-width: 1290px;
    }
}